body {
    width: 1280px;
    align-items: center;

    border: 1px;
    border-color: azure;
    background-color: aliceblue;

    padding: 20px;
}

.main-title {
    color:darkslateblue;
    font-weight: bold;
    text-align: center;
}

.title {
    color:darkslateblue;
}

.paragraph {
    color: cornflowerblue;
}
